.header{
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #E3E3E3;
    /* box-shadow: 0px 4px 23px 3px rgba(0, 0, 0, 0.09); */
    justify-content: space-between;
    display: flex;
   
}
.logout_icon{
    font-size: 24px;
    margin-top: 18px;
    cursor: pointer;
}
.logout_icon:hover{
    font-size: 26px;
}

.side_menu{
    width: 30%;
    max-width: 200px;
    height: 100vh;
    border-right: 1px solid #E3E3E3;
    position: fixed;
    
}
.header_menu{
width: 115px;
justify-content: space-evenly;
display: flex;
}