.body{
    width: 300px;
    height: 200px;
    border-radius: 10px;
    box-shadow: 0px 3.48092px 20.0153px 2.61069px rgba(0, 0, 0, 0.09);
    text-align: center;
    padding: 20px;
    width: 210px;
    height: 200px;
    margin: 10px;

}